/* .list {
  display: flex;
  flex-direction: column;
}

.list-item {
  padding: 16px 8px;
  margin: 8px 0;
  color: white;
  background-color: grey;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.list-item-strike {
  padding: 16px 8px;
  margin: 8px 0;
  color: white;
  background-color: grey;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: line-through solid red;
}

.text-todo {
  text-decoration: none;
}

.delete-button {
  background-color: red;
} */