.app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 50px auto;
}

.btnDelet {
  position: absolute;
  top: 10px;
  right: 80px;
  margin: 0 auto;
  margin-top: 10px;
  margin-right: 54px;
  border-radius: 3px;
  border: none;
  width: 100px;
  height: 23px;
  font-size: 12px;
  line-height: 14px;
  background-color: rgb(204, 0, 255);
  color: white;
  cursor: pointer;
}

.btnDelet:hover {
  background-color: rgba(204, 0, 255, 0.8);
  color: #000;
}

.startText {
  margin: 0 auto;
  margin-top: 27px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  color: white;
}

.addStyleBtn {
  /* border-radius: 3px;
  border: none; */
  cursor: pointer;
}

/* .addStyleBtn:hover {
  background-color: rgba(204, 0, 255, 0.8);
  transition: 0.5s ease-in-out;
} */